#content-container
  .row
  .col-lg-12
  .row
    %section
      .container
        .row
          .col-md-5.col-sm-8.col-md-offset-3.col-sm-offset-2.mrg-top50
            .panel.panel-default
              .panel-heading
                %h3.panel-title 
                  Sign up
              .panel-body
                = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                  %fieldset
                    .row.form-group
                      .col-xs-6.col-md-6
                        = f.text_field :first_name, :placeholder => "First Name", :class => "form-control"
                      .col-xs-6.col-md-6
                        = f.text_field :last_name, :placeholder => "Last Name", :class => "form-control"
                    .form-group.required
                      = f.input :email, :placeholder => 'Email', :class => ['form-control']
                    .form-group.required
                      = f.input :username, :placeholder => 'Username', :class => ['form-control'], :required => false 
                    .form-group.required
                      -if f.error :birthday
                        %label.string.optional.control-label{ :style => "color: #a94442;" } Birthday
                      -else
                        %label.string.optional.control-label Birthday
                      = f.input :birthday, as: :date, start_year: Date.today.year, end_year: Date.today.year - 90, order: [:day, :month, :year], :input_html => {:maxlength =>2, :style=> 'width:30%; margin-left:7px; margin-top: 0px; margin-bottom: 10px; display: inline'}, :label => false, :prompt => { day: 'Select day', month: 'Select month', year: 'Select year' }, :required => false
                    .form-group.required
                      = f.input :password, :placeholder => "Password", :class => ["form-control"]
                    .form-group.required
                      = f.input :password_confirmation, :placeholder => "Confirm Password", :class => ["form-control"]
                    .form-group.required
                      = recaptcha_tags
                  = f.button :submit, "Sign Up", :class => "btn btn-lg btn-success btn-block"
