= simple_form_for comment, remote: true do |f|
  = f.input :body, :label => false, :placeholder => "Write your comments here...", :required => false
  = f.input :commentable_id, :as => :hidden, :input_html => { :value => resource.id }
  = f.input :commentable_type, :as => :hidden, :input_html => { :value => resource.class.name }
  .pull-right  
    = f.submit "Update Comment", :class => "btn btn-success"