#content-wrapper
  .heading
    .pull-left.user_name #{current_user.username}
    .pull-right.select_book
      = simple_form_for :search, :url => user_books_path(@user), :html => {:method => :get, :id => "books_filter_form"} do |s|
        = select_tag "category", options_for_select(Search::BOOK_AND_COMIC_SEARCH_CATEGORY, @category), :class => "sselect", :onchange => "$('#books_filter_form').submit();"
        = s.submit "Filter", :style => "display:none;"
  - unless @books.empty?
    .row.mar-top30.bg.mar-bottom30
      - @books.each do |book|
        .col-md-12.col-sm-12.comic_listing
          .col-md-2.col-sm-2.slide_img.pad-lft0
            = link_to(image_tag(book.book_cover.photo.url(:medium)), book_path(book), :title => "#{book.title.camelize}")
          .col-md-10.col-sm-10
            .action-links
              = link_to(book_path(book), html_options = { :method => :get }) do
                %i.fa.fa-file-text-o.fa-fw
                Show  
              = link_to(edit_user_book_path(@user, book), html_options = { :method => :get }) do
                %i.fa.fa-pencil.fa-fw
                Edit
              = link_to(user_book_path(@user, book), html_options = { :method => :delete, :data => {:confirm => "Are you sure to delete this book ?"} }) do
                %i.fa.fa-trash-o.fa-fw
                Delete    
            %h2
              = link_to "#{book.title.camelize}", book_path(book), :title => "#{book.title.camelize}"
            %span #{book.user.fullname}
            %p
              = "#{book.description}"
          .col-md-12.col-sm-12
          .col-md-6.col-sm-6
            %span
              = "#{book.genre.camelize}"
          .col-md-6.col-sm-6
            .pull-right
              = image_tag('like.png')
              %span.count-text #{book.get_likes.count}
              = image_tag('dislike.png')
              %span.count-text #{book.get_dislikes.count}   
  - else
    .row.mar-top30 
      .alert.alert-warning
        %button.close{"data-dismiss" => "alert", :type => "button"} &times;
        %strong Warning!
        Sorry, No books available in your account yet...           
  .row
    .center
    = paginate @books  